
body {
  background-image: url("bck.jpeg");
  background-color: #cccccc;
}

#heading {
     background: black;
     height: 145px;
}

#name {
     position: absolute;
     font-family: Arial;
     font-size: 40px;
     left: 115px;
     top: 35px;
}

#job {
     position: absolute;
     left: 105px;
     top: 85px;
     font-size: 27px;
     color: #44ba3d;
}

#bdy {
     position: relative;
     border: 2px solid gray;
     background: #e8e9eb;
     top: 80px;
     left: 200px;
     height: 320px;
     width: 1000px;
}

img {
     position: absolute;
     border: 2px solid black;
     padding: 2px;
     top: 40px;
     left: 30px;
}

#int {
     position: absolute;
     left: 725px;
     top: 25px;
}

ul {
    margin:0;
    padding:15;
}

#inf {
     position: absolute;
     top: 25px;
     left: 300px;
     height: 275px;
     width: 390px;
}
